VS15.MSMQClient.Con/Service References/Enterprise/ExceptionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VS13" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VS13" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TraceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Computer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Keyword1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogLevel" type="tns:LogLevel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceMessage" nillable="true" type="tns:TraceMessage" />
  <xs:simpleType name="LogLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Information" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogLevel" nillable="true" type="tns:LogLevel" />
</xs:schema>